@{
    ViewBag.Title = "Become Principal";
}

<h1>@ViewBag.Title</h1>
<p class="text-black-50">After clicking "Become a Principal now", you will have to register your school</p>
<p></p>
<a asp-action="Register" asp-controller="School" class="btn btn-success">Become a Principal now</a>