@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr size="5" style="background-color:black;" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Enter email address" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" placeholder="Enter password" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="submit-progress visually-hidden text-md-center">
                    <div class="container-fluid">
                        <i class="fa-solid fa-school fa-spin-pulse" style="font-size:xx-large"></i>
                        <label>Please wait...</label>
                    </div>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                @Html.HiddenFor(m => m.ReturnUrl)
                <div>
                    <button id="login-submit" onclick="return DisplayProgressMessage(this, 'Saving...');" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function DisplayProgressMessage(ctl, msg) {
            event.preventDefault();
            $(ctl).prop("disabled", true).text(msg)
            $("body").addClass("submit-progress-bg");
            $(".submit-progress").removeClass("visually-hidden")
            setTimeout(function () {
                $("form").submit();
            }, 1);
            return true;
        }
        function RevertProgressMessage(ctl) {
            event.preventDefault();
            $(ctl).prop("disabled", false).text("Log in")
            $("body").removeClass("submit-progress-bg");
            $(".submit-progress").addClass("visually-hidden")
            return true;
        }
    </script>
    <style>
        .submit-progress-bg {
            background-color: #bfc5c7;
        }
        input:valid {
            border-color: lawngreen;
        }
        input:invalid {
            border-color: red;
        }
    </style>
}
