@model SchoolClassCreateModel
@{
    ViewBag.Title = "Create new school class";
}

<h1>@ViewBag.Title</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-controller="SchoolClass" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Grade">Grade</label>
        <select asp-for="Grade" asp-items="GetGradeSelectList()" class="form-control"></select>
        <span asp-validation-for="Grade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control" value="A" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create class</button>
</form>


@{
    SelectList GetGradeSelectList()
    {
        var grades = new List<SelectListItem>();
        for (int i = 1; i <= 12; i++)
        {
            grades.Add(new SelectListItem { Value = i.ToString(), Text = i.ToString() });
        }
        return new SelectList(grades, "Value", "Text");
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}