@model PostCreateModel
@{
    ViewBag.Title = "Create new Post";
}

<h1>@ViewBag.Title</h1>

<form asp-controller="Post" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Content">Content</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>